---
import { QUART_CONSTANTS } from '../consts';
---

<div 
  id="quartCalculator"
  data-constants={JSON.stringify(QUART_CONSTANTS)}
>
  <p>Enter the number of totes, and cubic feet per tote, then check the boxes of the sizes you want to calculate.</p>
  <article>
    <div class="quart-calculator grid">
      <div>
        <label for="totes">Number of Totes:</label>
        <input 
          type="number" 
          id="totes" 
          inputmode="numeric" 
          pattern="[0-9]*" 
          min="1" 
          value="1"
          class="number-input">
      </div>
      <div>
        <label for="cuft">Cubic Feet per Tote:</label>
        <input 
          type="number" 
          id="cuft" 
          inputmode="numeric" 
          pattern="[0-9]*" 
          min="0" 
          step="1" 
          value="62"
          class="number-input">
      </div> 
    </div>
  </article>

<div class="grid divider-grid">

  <hgroup>
    <h2>Total Cubic Feet: <span id="totalCuFt">62</span> Cubic Feet</h2>
    <p>Total Quarts: <span id="totalQuarts">1594.3</span> US Dry Quarts</p>
  </hgroup>

  <div class="vertical-divider"></div>

  <hgroup>
    <h3>1 Cubic Foot</h3>
    <p>Has 25.714 US dry quarts.</p>
  </hgroup>

</div>

  <article>
    <div class="quart-calculator grid">
      <article class="calculator-card">
        <header>
          <input type="checkbox" id="enable8qt">
          <label for="slider8qt">8 QT Units (max: <span id="max8qt">0</span>):</label>
          <progress id="progress8qt" value="0" max="100" />
        </header>
        <input type="range" id="slider8qt" min="0" max="100" value="0">
        <footer>
          <input type="number" 
            id="qty8qt" 
            inputmode="numeric" 
            pattern="[0-9]*" 
            min="0" 
            step="1" 
            value="0" 
            class="qty-input">
        </footer>
      </article>
      
      <article class="calculator-card">
        <header>
          <input type="checkbox" id="enable16qt">
          <label for="slider16qt">16 QT Units (max: <span id="max16qt">0</span>):</label>
          <progress id="progress16qt" value="0" max="100" />
        </header>
        <input type="range" id="slider16qt" min="0" max="100" value="0">
        <footer>
          <input type="number" 
            id="qty16qt" 
            inputmode="numeric" 
            pattern="[0-9]*" 
            min="0" 
            step="1" 
            value="0" 
            class="qty-input">
        </footer>
      </article>
      
      <article class="calculator-card">
        <header>
          <input type="checkbox" id="enable24qt">
          <label for="slider24qt">24 QT Units (max: <span id="max24qt">0</span>):</label>
          <progress id="progress24qt" value="0" max="100" />
        </header>
        <input type="range" id="slider24qt" min="0" max="100" value="0">
        <footer>
          <input type="number" 
            id="qty24qt" 
            inputmode="numeric" 
            pattern="[0-9]*" 
            min="0" 
            step="1" 
            value="0" 
            class="qty-input">
        </footer>
      </article>
    </div>
    <div class="reset-container">
      <button id="resetCalculator" class="reset-button">Reset All Values</button>
    </div>
  </article>
</div>
<script is:inline src="/scripts/quartflow.js"></script>


