---
---

<p>Enter the number of totes, and cubic feet per tote, then check the boxes of the sizes you want to calculate.</p>
<article>
  <div class="quart-calculator grid">
    <div>
      <label for="totes">Number of Totes:</label>
      <input 
        type="number" 
        id="totes" 
        inputmode="numeric" 
        pattern="[0-9]*" 
        min="1" 
        value="1"
        class="number-input">
    </div>
    <div>
      <label for="cuft">Cubic Feet per Tote:</label>
      <input 
        type="number" 
        id="cuft" 
        inputmode="numeric" 
        pattern="[0-9]*" 
        min="0" 
        step="1" 
        value="62"
        class="number-input">
    </div> 
  </div>
</article>

<article>
  <div class="quart-calculator grid">
    <article>
      <header>
        <input type="checkbox" id="enable8qt">
        <label for="slider8qt">8 QT Units (max: <span id="max8qt">0</span>):</label>
      </header>
      <input type="range" id="slider8qt" min="0" max="100" value="0">
      <footer>
        <input type="number" 
          id="qty8qt" 
          inputmode="numeric" 
          pattern="[0-9]*" 
          min="0" 
          step="1" 
          value="0" 
          class="qty-input">
      </footer>
    </article>
    
    <article>
      <header>
        <input type="checkbox" id="enable16qt">
        <label for="slider16qt">16 QT Units (max: <span id="max16qt">0</span>):</label>
      </header>
      <input type="range" id="slider16qt" min="0" max="100" value="0">
      <footer>
        <input type="number" 
          id="qty16qt" 
          inputmode="numeric" 
          pattern="[0-9]*" 
          min="0" 
          step="1" 
          value="0" 
          class="qty-input">
      </footer>
    </article>
    
    <article>
      <header>
        <input type="checkbox" id="enable24qt">
        <label for="slider24qt">24 QT Units (max: <span id="max24qt">0</span>):</label>
      </header>
      <input type="range" id="slider24qt" min="0" max="100" value="0">
      <footer>
        <input type="number" 
          id="qty24qt" 
          inputmode="numeric" 
          pattern="[0-9]*" 
          min="0" 
          step="1" 
          value="0" 
          class="qty-input">
      </footer>
    </article>
  </div>
  <div class="reset-container">
    <button id="resetCalculator" class="reset-button">Reset All Values</button>
  </div>
</article>
<script is:inline src="/scripts/quartflow.js"></script>


